body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin: 5px;
}

.container::before {
  -webkit-filter: blur(8px);
  content: "";
  background: url("/imgs/IMG954142.jpg") no-repeat center center/cover;
  position: absolute;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  height: 1500px;
}

.container {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.item {
  margin: 10px;
}

.name-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.profilepic {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  object-position: 0px -2px;
  border: solid white 0px;
  border-radius: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.icon {
  width: 50px;
  height: auto;
}

.btn {
  width: 750px;
  opacity: 90%;
  background-color: wheat;
  color: black;
}
